*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    min-height: 100%;
    width: 100%;
}
.container{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: center;
   background-color: rgb(156, 152, 152);
}
.calculator{
    padding: 20px;
    background-color: rgb(6, 6, 6);
    border-radius: 20px;
     
}

form input[type="text"]{
    background-color: rgb(3, 3, 3);
    width: 290px;
    margin-left: 9px;
    color: rgb(243, 237, 237);
    font-size: 40px;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-style: hidden;
    margin-top: 20px;
}

.item{
    height: 60px;
    width: 60px;
    color: white;
    background-color: black;
    margin: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    border-radius: 50px;
    border-style: hidden;
    cursor: pointer;

}
.item-orange{
    height: 60px;
    width: 60px;
    margin: 10px;
    background-color: black;
    color: orangered;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    border-radius: 50px;
    border-style: hidden;
    cursor: pointer;
}
.item-orange:hover{
    background-color: rgb(121, 116, 116);
    opacity: 1;
}
.item:hover{
    background-color: gray;
    opacity: 1;
}
.item-orange-back{
    height: 60px;
    width: 60px;
    margin: 10px;
    background-color: orangered;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    border-radius: 50px;
    border-style: hidden;
    cursor: pointer;

}